html {
	font-family: sans-serif;
	font-size: 24px;
}

header { 
	background-color: white;
	grid-column: span 3;
	padding: 16px;
	font-size: 50px;
	text-align: center;
	font-family: Trebuchet MS;
}

 nav {
 	background-color: red;
	padding: 16px;
	font-size: 28;
	text-align: center;
	font-family: Trebuchet MS;
	font: white;

 }

 main {
 	background-color: gray;
	padding: 16px;
	font-size: 25px;
	text-align: center;
	font-family: Trebuchet MS;
	font: white;
 }

 aside {
 	background-color: red;
	padding: 16px;
	font-size:25px;
	text-align: left;
	font-family: Trebuchet MS;
	font: white;

 }

 footer {
 	background-color: white;
 	grid-column: span 3;
	padding: 16px;
	text-align: center;
	font-family: Trebuchet MS;
	color: lightblue;
 }

.container {
	border: 2px solid rgba(0,0,0,0.4);
	display: grid;
	min-height: 100vh;

	grid-template-columns: 20% auto 20%;
	grid-template-rows: auto 1fr auto;
}

.Gen {
	text-align: center;
}

/*div {
	border: 15px solid blue;
	padding: 50px;
	margin: 80px;
	
}

p{
	max-width: 5000px;
}

#thoughts {
	font-family: Comic Sans MS;
	font-size: 16px;
	text-align: center;
}

.trees-background {
	background-image: url(yes.jpg);
}

#yuh {
	text-align: center;
}

#Intro {
	font-size: 85px;
	text-align: center;
}
*/

